#
# {{ ansible_managed }}
#
# config file for ansible -- https://ansible.com/
# ===============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

{% for section, items in configure_self_config_items.iteritems() %}
[{{ section }}]

{% for item in items.values() %}
{{ item.name }} = {{ item.value }}
{% endfor %}

{% endfor %}
